body {
    margin: 0;
    background-color: rgb(26, 22, 24);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(16, 16, 16);
}

::-webkit-scrollbar-thumb {
    background: rgb(168, 147, 105);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 163, 140);
}

.text-header {
    color: #FFE7B9;
    font-weight: bold;
}

.text-highlight {
    color: #F7CA2F;
    font-weight: bold;
}

.text-aero {
    color: #2FC79F;
    font-weight: bold;
}

.text-electro {
    color: #A732B0;
    font-weight: bold;
}

.text-fusion {
    color: #C72A4C;
    font-weight: bold;
}

.text-glacio {
    color: #38B0D2;
    font-weight: bold;
}

.text-havoc {
    color: #9A1754;
    font-weight: bold;
}

.text-spectro {
    color: #BCA81D;
    font-weight: bold;
}