body {
    margin: 0;
    background-color: rgb(26, 22, 24);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(16, 16, 16);
}

::-webkit-scrollbar-thumb {
    background: rgb(83, 71, 69);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 127, 114);
}

.text-header {
    color: #eec477;
    font-weight: bold;
}

.text-highlight,
.text-refinement {
    color: #f7ca2f;
    font-weight: bold;
}

.text-aero {
    color: #55ffb5;
    font-weight: bold;
}

.text-electro {
    color: #ac70f1;
    font-weight: bold;
}

.text-fusion {
    color: #f0744e;
    font-weight: bold;
}

.text-glacio {
    color: #49abf7;
    font-weight: bold;
}

/* #f11f81 */
.text-havoc {
    color: #c989b1;
    font-weight: bold;
}

.text-spectro {
    color: #fae56c;
    font-weight: bold;
}

.filter-text-off,
.filter-text-on {
    font-weight: bold;
    font-family: Segoe UI, Roboto;
    margin: 0;
}

.filter-text-off {
    color: white;
}

.filter-text-on {
    color: rgb(30, 175, 255);
}

.filter-off,
.filter-on {
    height: 32px;
    padding: 3px;
    margin: 3px;
    border: 2px solid rgb(168, 147, 105);
    border-radius: 5px;
}

.filter-off:hover,
.filter-on:hover {
    box-shadow: 0 0 5px 1px gold;
    border: 2px solid gold;
    cursor: pointer;
}

.filter-off {
    background-color: rgb(15, 15, 15);
    opacity: 0.35;
}

.filter-on {
    background-color: rgb(15, 15, 15);
    opacity: 1;
}

.filter-button-off,
.filter-button-on {
    font-family: Segoe UI, Roboto;
    font-weight: 500;
    color: white;
    height: 24px;
    padding: 5px;
    margin: 3px;
    border: 2px solid rgb(168, 147, 105);
    border-radius: 5px;
}

.filter-button-off:hover,
.filter-button-on:hover {
    box-shadow: 0 0 5px 1px gold;
    border: 2px solid gold;
    cursor: pointer;
}

.filter-button-off {
    background-color: rgb(15, 15, 15);
    opacity: 0.35;
}

.filter-button-on {
    background-color: rgb(15, 15, 15);
    opacity: 1;
}